@()

@main("Welcome to Fisio-Repo") {
<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

<ul id="citations"></ul>

<form method="POST" action="@routes.CitationController.addCitation()">
    @helper.CSRF.formField
    Author: <input type="text" name="author"/><br />
    Year: <input type="number" name="year"/><br />
    Name: <input type="text" name="name"/><br />
    Volume: <input type="number" name="volume"/><br />
    Page: <input type="number" name="page"/><br />
    <button>Add Citation</button>
</form>
}
